@media screen and (min-width: 750px) {
  body {
    padding: 0;
  }
}

@media screen and (min-width: 950px) {
  .home-body {
    margin: 0;
    padding: 0 20rem;
    background-color: #f8f9fa;
  }

  .header {
    padding: 0;
  }

  .navbar {
    padding: 0 20rem;
  }

  /* div {
    border-radius: 5px;
  } */
  
}